*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}
:root {
  --primary-color: #343a40;
  --secondary-color: #228be6;
  --light-grey: #e9ecef;
  --text-color-grey: #333;
  --text-color-white: #f9f9f9;
  --width: 125rem;
  --margin: 0 auto;
  --padding-bottom: 7rem;
}

/* Header */

.header {
  font-size: 1.8rem;
  background-color: var(--primary-color);
}

.nav-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--width);
  margin: var(--margin);
  color: var(--text-color-white);
  padding-bottom: var(--padding-bottom);
}

.header-content-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  width: var(--width);
  margin: var(--margin);
  color: var(--text-color-white);
  padding-bottom: var(--padding-bottom);
}

.header-text-flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header-text {
}

.btn {
  width: 12rem;
  padding: 1.4rem 0;
  border-radius: 10px;
  border: none;
  background-color: var(--secondary-color);
  font-size: 1.8rem;
  color: var(--text-color-white);
  font-weight: 700;
}

.header-image {
  width: 60rem;
  height: 30rem;
  object-fit: cover;
}

/* Header */
